body{
  box-sizing: border-box;
  background-color: grey;
}



.pokedex{
  margin: 30px;
  padding:10PX;
  font-size:20px;
}

.pokedex li{
  list-style: none;
  margin:0 50% 20px 0;


}


.list-button{
  background-color: blue; 
  border: none;
  text-decoration: none;
  font-size: 30px;
  font-family: 'ZCOOL XiaoWei', 'serif';
  color: #CC0000;
  width: 100%;
  height: 60px;
  }


#title{
  margin:30px;
  font-size: 60px;
  font-family: 'ZCOOL XiaoWei', 'serif';
  color: white;

}


@media screen and (max-width: 600px) {
  .pokedex li{
  margin: 0 0 20px 0;
  }
}
